.search__input-error {
  margin-bottom: 18px;
}

@media all and (min-width: 768px) {
  .search__input-error {
    margin-bottom: 8px;
  }
}

@media all and (min-width: 1024px) {
  .search__input-error {
    margin-bottom: 10px;
  }
}
