.banner {
  min-height: 570px;
  display: flex;
  align-items: center;
  background: no-repeat url(../../images/emblem320.svg) 50% 40% #073042;
}

@media all and (min-width: 768px) {
  .banner {
    min-height: 784px;
    background: no-repeat url(../../images/emblem.svg) 50% 40% #073042;
  }
}

@media all and (min-width: 1024px) {
  .banner {
    min-height: 524px;
  }
}
