.page__about-me{
  margin: 69px auto 70px;
}

@media all and (min-width: 768px) {
  .page__about-me{
    margin: 89px auto 100px;
  }
}

@media all and (min-width: 1024px) {
  .page__about-me{
    margin: 110px auto 135px;
  }
}