.techs__text{
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 292px;
  margin: 0 auto 50px;
}

@media all and (min-width: 768px) {
  .techs__text{
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto 83px;
    max-width: 460px;
  }
}

@media all and (min-width: 1024px) {
  .techs__text{
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto 100px;
  }
}