.movies__list {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 33px;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 339px);
    grid-gap: 30px 30px;
  }
}

@media all and (min-width: 1024px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 270px);
    grid-gap: 38px 20px;
  }
}
