.page__not-found {
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

@media all and (min-width: 768px) {
  .page__not-found {
    align-items: center;
  }
}
