/* .page__content {
  max-width: calc(100% - 28px);
  width: 100%;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .page__content {
    max-width: calc(100% - 60px);
  }
}

@media all and (min-width: 1024px) {
  .page__content {
    max-width: calc(100% - 140px);
  }
} */