.search__switch-text {
  margin-left: 14px;
  font-size: 11px;
  line-height: 18px;
}

@media all and (min-width: 768px) {
  .search__switch-text {
    margin: 0 14px 0 0;
    font-size: 13px;
  }
}

@media all and (min-width: 1024px) {
  .search__switch-text {
    margin: 0 0 0 14px;
  }
}
