.header__button-close{
  background-image: url(../../../images/close.svg);
  width: 31px;
  height: 31px;
  align-self: flex-end;
  margin: 13px 14px 100px 0;
}

@media all and (min-width: 768px) {
  .header__button-close {
    margin: 21px 23px 108px 0;
  }
}
