.page_unknown {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  max-width: 260px;
  min-width: 260px;
}

@media all and (min-width: 768px) {
  .page_unknown {
    max-width: 396px;
    justify-content: center;
  }
}