.not-found__title {
  font-weight: normal;
  font-size: 80px;
  line-height: 97px;
  margin: 0 0 8px 0;
}

@media all and (min-width: 768px) {
  .not-found__title {
    font-size: 140px;
    line-height: 169px;
    margin: 0 0 4px 0;
  }
}
