.error {
  width: 300px;
  position: fixed;
  bottom: 100px;
  right: 100px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.7s linear;
}

.error:hover {
  cursor: pointer;
}
