.page__about-project {
  margin: 71px auto;
}

@media all and (min-width: 768px) {
  .page__about-project {
    margin: 90px auto 75px;
  }
}

@media all and (min-width: 1024px) {
  .page__about-project {
    margin: 110px auto 95px;
  }
}