.card__image {
  height: 168px;
  width: 100%;
  object-fit: cover;
  display: block;
  border: 0;
}

.card__image:hover {
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .card__image {
    height: 190px;
  }
}

@media all and (min-width: 1024px) {
  .card__image {
    height: 151px;
  }
}
