.footer__blocks{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media all and (min-width: 768px) {
  .footer__blocks{
    flex-direction: row;
    justify-content: space-between;
  }
}