.search__switch{
  display: flex;
}

@media all and (min-width: 768px) {
  .search__switch{
    flex-direction: row-reverse;
  }
}

@media all and (min-width: 1024px) {
  .search__switch{
    flex-direction: row;
  }
}