.text-block-with-title__title {
  margin: 0 0 15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  min-height: 44px;
}

@media all and (min-width: 768px) {
  .text-block-with-title__title {
    margin: 0 0 21px;
    min-height: 48px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media all and (min-width: 1024px) {
  .text-block-with-title__title {
    margin: 0 0 26px;
    min-height: inherit;
  }
}