.base-form__title{
  margin: 0 0 80px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

@media all and (min-width: 768px) {
  .base-form__title{
    margin: 0 0 40px;
    text-align: left;
  }
}