.not-found {
  width: 400px;
  height: 56%;
  max-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 9%;
}

@media all and (min-width: 768px) {
  .not-found {
    margin: 24% 0 0 0;
    height: 56%;
    max-height: 393px;
  }
}

@media all and (min-width: 1024px) {
  .not-found {
    margin: 14.5% 0 0 0;
  }
}
