.about-me__sites{
  display: grid;
  grid-template-rows: repeat(3, 47px);
  grid-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: black;
}

@media all and (min-width: 768px) {
  .about-me__sites{
    font-size: 28px;
    line-height: 67px;
    grid-template-rows: repeat(3, 69px);
   }
}

@media all and (min-width: 1024px) {
  .about-me__sites{
    font-size: 30px;
   }
}